# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Linux
*~

# Logs
*.log

# Pytest
.pytest_cache/

# MySQL dumps
*.sql

# Build
dist/
build/
